body {
  color: #272323;
  font-size: 18px;
  font-family: 'Arima Madurai', cursive;
  font-family: 'Comfortaa', cursive;
  font-family: 'Glory', sans-serif;
  font-family: 'Marck Script', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans Mono', monospace;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Orelega One', cursive;
  font-family: 'Press Start 2P', cursive;
  font-family: 'PT Sans', sans-serif;
}
html, body {    
   margin: 0;
   height: 100vh;
   overflow: hidden;
}
.main{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: url(https://krot.info/uploads/posts/2021-02/1614130002_17-p-fon-s-tekhnologiyami-19.jpg);
}
.info_block{
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.container{
  width: 50%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #ECF5F8;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: normal
}
h1{
  color: #272323;
  text-align: center;
  font-size: 3em;
}

.h1_a{
  font-size: 1.2em;
  height: 100%;
  margin: 0;
  text-align: start;
}
.btns{
  height: 10%;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  width: 20%;
  height: 80%;
  padding: 0;
  font-size:1.4vw;
  display: inline-block;
  color: #272323;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
  text-align: center;
}
button:hover { 
  background: linear-gradient(#f5ae00, #f59500) #f5ae00; 
}
button:active { 
  background: linear-gradient(#f59500, #f5ae00) #f59500; 
}
.answer_btn{
  margin-right: 30%;
  padding: 0;
}
.quest_btn{
  padding: 0;
}
#block_answer{
  overflow: auto;
  padding: 20px;

}
.answer{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
}
#block_question{
  padding: 20px;
}
@media (max-width: 830px) {
  .info_block{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 75%;
  }
  .container{
    width: 93%;
    height: 50%;
    padding-left: 0;
    padding-right: 0;
  }
  h1{
    font-size: 2em;
  }
  button{
    height: 100%;
    width: 30%;
    font-size: 3vw;
  }
  .answer_btn{
    margin-right: 15%;
  }
}
@media (max-width: 500px) {
  /* .info_block{
    padding-top: 20px;
  } */
  button{
    font-size: 5vw;
  }
  
}
@media (max-width: 400px) {
  h1{
    font-size: 1.5em;
  }
  .info_block{
    padding-top: 0;
  }
  .btns{
    padding-top: 20px;
  }
}